/* halaman index */
*{
box-sizing: border-box;
}
.navbar{
    padding: 5px 2px;
    background-color: #fff;
    border-bottom: solid 1px #000;
    overflow: hidden;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 25px grey;

}
.logo-utama {
    width: 130px;
    height: 85px;
    padding:7px;
}
.menu{
    margin-top: 60px;
    list-style-type: none;
    float: right;
}

.menu > li{
    display: inline-block;
}
.menu > li > a{
    padding: 10px;
    color: #000000;
}
.menu li:hover > ul {
    display: block;  
}
.menu .submenu {
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100px;
    display: none;
    z-index: 1;
}
.menu-utama ul ul li {
    float: none;
    border-top: 1px solid #def4ff;
    border-bottom: 1px solid #def4ff;
    
}

a{
    text-decoration: none;
}
.submenu{
    background: #b1b1b1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submenu > li{
    display: block;
}
.submenu > li >a{
    padding: 20px;
    line-height: 3;
    
}
.nama-ormawa{
    position:relative;
    background-color: #eeeeee;
    height: 500px;
    padding-top: 5px ; 
    justify-content: center;
    display: flex; 
    align-items: center;
   
}

.gambar-ormawa{
    margin-top: 35px;
    padding: 10px 45px;
    background-color: #eeeeee6b;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}
.bem-bpm{
    display: flex;
    justify-content: center;
    padding:15px;

}
.bem{
    margin-top: 20px;
    background-color: #eeeeee;
    padding: 20px;
    width: 50%;
    margin: 0 5px;
}
.bpm{
    margin-top: 20px;
    background-color: #eeeeee;
    padding: 20px;
    width: 50%;
    margin: 0 5px;
}
@media(max-width:767px){
    .bem-bpm{
        display: block;
        overflow: hidden;
    }
    .bem,.bpm{
        width: 100%;
        margin-top:10px;
    }
}
.bem > img{
    display: block;
    margin: 0 auto;

    
}
.bpm > img {
    display: block;
    margin: 0 auto;
    
}
.latar{
    display: flex;
    background-color: #1D0057;
    color: #eeeeee;
    padding: 20px 50px;
    height: auto;
}
.site-menu{
    margin-left: 300px;
}
.site-menu p{
    padding: 10px;
}

.space{
    margin-top: 20px;
    background-color: #B4B4E0;
    height: 35px;
}
.latar > .kontak{
width: 50%;
font-weight: bold;
}

.latar > .kontak > h4{
    margin-bottom: 25px;
}
.site-menu > h4{
    margin-bottom: 25px;
    }
.latar > .kontak > p{
padding: 5px;
}


.bottom{
    display: flex;
    background-color: #000030;
    padding: 5px;
    font-size: 15px;
    
}
.bottom > .copyright{
    color: #eeeeee;
    padding: 10px;
    
}
.site-menu > p > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logoo {
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 5px;
}

/* Halaman apaitu */
.gambar > img{
    margin: auto ;
}

/* Halaman BEM */
.gambar > img{
    margin: auto;
}

.ket {
    background: #B4B4E0;
    width: 80%;
    margin:5px auto;
    padding: 10px;
    border-radius:10px;
}
.ket>p{
    background: #9999FF;
    margin:3px 10px;
    padding: 10px;
    border-radius: 10px;
    border: dotted 3px rgb(30, 5, 167);
}

/* Halaman Sejarah */
.sejarah {
    background: #CCCCFF;

}
.wadah{
    width:80%;
    margin: 0 auto;
}
span.tahun{
    display: inline-block;
    background:#000066;
    position: absolute;
    
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.tahun1{
    padding:30px 20px 30px 20px;
    height:95px;
}
.tahun2{
    padding:65px 20px 66px 20px;
    height:95px;
}
.tahun3{
    padding:30px 20px 30px 20px;
    height:80px;
}
.tahun4{
    padding:30px 20px 30px 20px;
    height:80px; 
}
#sejarah {
text-align: center;
font-size: 30px;
font-weight: 900;
}
#sejarahh {
text-align: center;
font-size: 30px;
font-weight: bolder;
}

.badge{
    width:30%;
    margin-top: 30px;

}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.badge > .badge-1 {
    border:solid 3px #000066;
    padding: 10px 10px 10px 90px;
    border-radius:10px;
    background-color: white;
}
span.clear{
    clear: both;
    display: block;
}

/* Halaman Beasiswa */
.keterangan{
    background:#000066;
    color: #eeeeee;
    width: 100%;
}
.deskripsi{
    padding: 75px;
    
}
.image{
    /* margin-left: 150px; */
    margin: 10px 450px 0px 450px;

}
.post {

    background: rgba(128, 128, 128, 0.349);
    width: 50%;
    margin: 15px 15px;
    padding: 10px;
}
.post>h3{
    color: rgb(119, 119, 119);
}

.post-1{
    display: grid;
    grid-template-columns: auto 70%;
    padding:10px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.247);  
}
.img{
    display: block;
    margin: auto 0;
}
.post-1>img{
    margin-left: 10px;
    width:100%;
}
.deskripsi > p{
text-align: justify;
}
.post-1>.deskripsi>a{
    display: block;
    margin-top: 10px;
}

.keterangann{
    background: #000066;
    width: 60%;
    margin:5px auto;
    padding: 10px;
    border-radius:10px; 
    color: white;   
}

.content{
    width: 100%;
    height: 1000px;
}

.isi{
    padding: 0px 300px;
}

/* halaman kontak */
.kotak{
    margin-top: 50px;
    margin-left: 50px;
    height:800px ;
    width: 50%;
    border: 5px groove black;
}
.HUB{
    margin-top: 10px;
    margin-left: 15px;
}
.garis{
    border: 1px solid black;
    margin-right: 10px;
}
.map{
    margin-top: 10px;
}
.saran{
    margin-top: 5px;
    margin: auto;
}
.forum{
    background-color:#EEEEEE;
    margin-right: 15px;
    height:250px ;
}
.grup{
    padding: 10px;
}
/* halaman daftar */
.lay{
    margin: auto;
    border-radius: 15px;
    background-color: #CCCCFF;
    width: 70%;
    height: 750px;
    margin-top: 20px;
}
.form > p{
    padding: 5px;
}
.dropdown{
    display: none;
}

@media(max-width:767px){
    .menu{
        display: none;
    }
    .icon{
        display: block;
        width: 50px;
        margin-left:auto;
        margin-top: 30px;
        font-size:25px;
        color: blue;
        
    }
    .icon:hover {
        color: #1D0057;
    
    }
     
    .dropdown {
        display: inline-block;
        float: right;
        
    }
    .dropdown-child {
        position: absolute;
        right:23px;
        display: none;
        background-color: rgb(146, 152, 165);
        min-width: 150px;
        max-height: 450px;
        z-index: 3;
        font-size: 15px;
    }
    .dropdown-child a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .latar{
        display: block;
    }
    .kontak, .site-menu{
        
        margin: 5px 0 0 0 ; 
    }
    .site-menu{
        margin-top:30px;
    }
    .latar > .kontak{
        width: 100%;
        font-weight: bold;
    }
    .latar > .kontak > p{
        padding: 5px 0;
        }
}